
{% extends 'base.html' %}


{% block content %}
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css" />

    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <div class="card">
                    <input type="text" class="form-control" id="search_input" placeholder="Search" />
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Search</h6>
                            </a>
                        </header>

                        
                        <div class="card-body">
                        <!-- <form class="pb-3"> -->
                            <div class="input-group">
                                <input type="text" class="form-control" id="search_inputs" placeholder="Search" />
                            </div>
                        <!-- </form> -->
                        </div>
                        <!-- card-body.// -->
                    </article>
                    <!-- filter-group  .// -->
                    <form class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categories</h6>
                            </a>
                        </header>
                            
                            
                            <div class="card-body">
                                {% for obj in categories %}
                                    <label for="{{ obj.name }}_{{ obj.id }}" class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input categories" />
                                        <div class="custom-control-label">
                                            {{obj.name}}
                                        </div>
                                    </label>
                                {% endfor %}
                            </div>
                            <!-- card-body.// -->
                    </form>
                    <!-- filter-group .// -->
                    <!-- filter-group  .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Markas</h6>
                            </a>
                        </header>
                            
                            
                            <div class="card-body">
                                {% for obj in markas %}
                                    <label for="{{ obj.name }}_{{ obj.id }}" class="custom-control custom-checkbox">
                                        <input type="checkbox" {% for id in checkbox_markas %} {% if obj.id == id %} checked {% endif %} {% endfor %} name="{{ obj.id }}" id="{{ obj.name }}_{{ obj.id }}"  class="custom-control-input markas" />
                                        <div class="custom-control-label">
                                            {{obj.name}}
                                        </div>
                                    </label>
                                {% endfor %}
                            </div>
                            <!-- card-body.// -->
                    </article>
                    <!-- filter-group .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Weight range</h6>
                            </a>
                        </header>
                            <div class="card-body">
                                <!-- <input type="range" class="custom-range" min="0" max="100" name="" /> -->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input class="form-control" id="min_weight" value="{{ min_weight }}" name="min_weight" placeholder="0" type="number" />
                                    </div>
                                    <div class="form-group text-right col-md-6">
                                        <label>Max</label>
                                        <input class="form-control" id="max_weight" value="{{max_weight}}" name="max_weight" placeholder="{{max_weight}}" type="number" />
                                    </div>
                                </div>
                                <!-- form-row.// -->
                                <button id="filterBtn" class="btn btn-block btn-primary">Apply</button>
                            </div>
                            <!-- card-body.// -->
                    </article>
                </div>
                <!-- card.// -->
            </aside>
            <main class="col-md-9">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto">32 Items found </span>
                        <select class="mr-2 form-control">
                            <option>Latest items</option>
                            <option>Trending</option>
                            <option>Most Popular</option>
                            <option>Cheapest</option>
                        </select>
                        <div class="btn-group">
                            <a href="#" class="btn btn-outline-secondary" data-toggle="tooltip" title=""
                                data-original-title="List view">
                                <i class="fa fa-bars"></i></a>
                            <a href="#" class="btn btn-outline-secondary active" data-toggle="tooltip" title=""
                                data-original-title="Grid view">
                                <i class="fa fa-th"></i></a>
                        </div>
                    </div>
                </header>
                <!-- sect-heading -->
                <div class="row" id="iha_content_box">
                    {% for obj in page_obj %}
                        <div class="col-md-4">
                            <figure class="card card-product-grid">
                                <!-- img-wrap.// -->
                                <figcaption class="info-wrap">
                                    <div class="fix-height">
                                        <div class="d-flex">
                                            <span class="mr-2">Name: </span>
                                            <div class="title">{{ obj.name }}</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="mr-2">Marka: </span>
                                            <div class="title">{{ obj.markas }}</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="mr-2">Category: </span>
                                            <div class="title">{{ obj.categories }}</div>
                                        </div>
                                        <div class="d-flex">
                                            <span class="mr-2">Weight: </span>
                                            <div class="price-wrap">
                                                <span class="price">{{ obj.weight }}kq</span>
                                            </div>
                                        </div>


                                        <!-- price-wrap.// -->
                                    </div>
                                    <div class="d-flex justify-content-between mt-3">

                                        <a href="{% url 'core:iha_detail' obj.slug %}" class="btn btn-primary">Detail</a>
                                        <a href="{% url 'core:iha_update' obj.slug %}" class="btn btn-primary">Update</a>
                                        <a href="{% url 'core:iha_delete' obj.id %}" class="btn btn-primary">Delete</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                    <!-- col.// -->
                </div>
                <!-- row end.// -->
            
                    <nav class="mt-4" aria-label="Page navigation sample" id="paginate_sec">
                        {% if page_obj %}
                        {{checkbox_categories_ids}}ASDASD
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if checkbox_categories_ids %}&categories={% for obj in checkbox_categories_ids %}{{obj}},{% endfor %}{% endif %}{% if checkbox_markas_ids %}&markas={% for obj in checkbox_markas_ids %}{{obj}}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}{% if min_weight %}&min_weight={{min_weight}}{% endif %}{% if max_weight %}&max_weight={{ max_weight }}{% endif %}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>
                            {% endif %}
                    
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}{% if checkbox_categories_ids %}&categories={% for obj in checkbox_categories_ids %}{{obj}},{% endfor %}{% endif %}{% if checkbox_markas_ids %}&markas={% for obj in checkbox_markas_ids %}{{obj}}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}{% if min_weight %}&min_weight={{min_weight}}{% endif %}{% if max_weight %}&max_weight={{ max_weight }}{% endif %}">{{ i }}</a>
                                    </li>
                                    <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                                {% endif %}
                            {% endfor %}
                    
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if checkbox_categories_ids %}&categories={% for obj in checkbox_categories_ids %}{{obj}},{% endfor %}{% endif %}{% if checkbox_markas_ids %}&markas={% for obj in checkbox_markas_ids %}{{obj}}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}{% if min_weight %}&min_weight={{min_weight}}{% endif %}{% if max_weight %}&max_weight={{ max_weight }}{% endif %}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Next</span>
                                </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </nav>

            </main>
        </div>
    </div>

{% endblock %}




{% block js_custom %}
    <script>


        $('#filterBtn').click('click', (event) => {
            console.log('salam')
            event.preventDefault();
            let categories = [];
            let markas = []

            // checked cateogires filter input type checkbox
            $('.categories:checked').each(function() {
                categories.push($(this).attr('name'));
            });

            // checked markas filter input type checkbox
            $('.markas:checked').each(function() {
                markas.push($(this).attr('name'));
            });


            console.log(markas, 'markas')
            let min_weight = $('#min_weight').val();
            let max_weight = $('#max_weight').val();
            console.log(max_weight)
            $.ajax({
                url: `{% url "core:iha_list" %}`,
                async: true,
                type: 'GET',
                data: {
                    'categories': categories, 
                    'markas': markas,
                    'min_weight': min_weight,
                    'max_weight': max_weight
                },
                //dataType: 'json',
                success: function(response) {
                    //let url_s = new URL(window.location.href)
                    let url = new URLSearchParams();

                    let category_in_url = ''
                    let markas_in_url = ''

                    $('#iha_content_box').html(response.include)
                    $('#paginate_sec').html(response.paginate)

                    // change url without reload 
                    
                    url.delete('page')
                    url.delete('min_weight')
                    url.delete('max_weight')
                    url.delete('page')
                    url.set('page', 1)
                    $('.categories:checked').each(function() {
                        category_in_url += `${$(this).attr('name')},`
                    });

                    $('.markas:checked').each(function() {
                        markas_in_url += `${$(this).attr('name')},`
                    });
                    
                    if (category_in_url) {

                        url.set('categories', category_in_url);
                    }
                    else {
                        url.delete('cateogires');
                    }
                    if (markas_in_url) {

                        url.set('markas', markas_in_url);
                    }
                    else {
                        url.delete('cateogires');
                    }
                    console.log(max_weight)
                    url.set('min_weight', min_weight);
                    url.set('max_weight', max_weight);

                    // this step url changed
                    history.replaceState(null, null, "?"+url.toString())
                },
                error: function(response){
                    console.log(response, 'error');
                }
            })
            
        })


    </script>
{% endblock js_custom %}
    